*{
    box-sizing: border-box;
    font-family: 'Baloo Bhai', cursive;
}
body {
    margin: 0;
    padding: 0;
}
.cover{
    background-image: url("cover-drum.jpg");
    background-size: 100% 110%;
    height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.logo img{
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-left: 25px;
}
.songs{
    position: fixed;
    margin-top: 240px;
    margin-left: 160px;
    text-align: center;
}
.songs button{
    padding: 20px;
    margin-right: 20px;
    border: 2px solid black;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    outline: none;
}
.songs button:hover{
    background-color: transparent;
    transition: 0.6s ease;
    border: 2px solid orangered;
    cursor: pointer;
    color: white;
}
.songs button:active{
    outline: none;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cover select{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
    background-color: transparent;
    color: orangered;
    border: transparent;
    outline: none;
    font-size: 34px;
}
.cover select option {
    margin: 40px;
    background: orangered;
    color: white;
}
.songs :first-child{
    margin-left: 40px;
}
.songs :nth-child(2){
    margin-left: 40px;
}
.songs :nth-child(3){
    margin-left: 40px;
}
.songs :nth-child(4){
    margin-left: 40px;
}
.songs :nth-child(5){
    margin-left: 40px;
}
.songs :nth-child(6){
    margin-left: 40px;
}
.songs :nth-child(7){
    margin-left: 40px;
}
.songs :nth-child(8){
    margin-left: 40px;
}
.songs :last-child{
    margin-left: 40px;
}


