body {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.banner{
    background-image: url(banner.jpg); background-size: cover; height: 100vh; 
}
.top-bar{
    background-color: #3000DB; color: #eeeeee; height: 30px; padding-left: 200px;
}
.top-bar p{
    display: inline-block; margin-left: 25px; margin-top: 5px; font-family: 'Oswald', sans-serif;
}
 .top-bar a{
    display: inline; color: #ffffff; text-decoration: none; font-family: 'Oswald', sans-serif;
}
.nav{
    background-color: #ffffff; height: 10vh;
}
.logo img{
    height: 70px; width: 150px; float: left; margin-top: 2px; padding-left: 225px;
}
.nav ul{
    float: right; padding: 10px 200px 0px 0px; 
}
.nav ul li{
    display: inline-block; margin-right: 75px;
}
.nav ul li a{
    text-decoration: none; color: #111111; font-family: 'Oswald', sans-serif; font-size: 18px;
}
.nav ul li a:hover{
    border-bottom: 3px solid #3de813; 
}
.banner-text{
    font-size: 25px; padding: 250px 0px 0px 225px; font-family: 'Merriweather', serif;

}
.banner-text span{
    font-size: 100px; color: #ffffff; padding: 5px; font-weight: bold; font-family: 'Merriweather', serif;
}
.about-us{
    background-color: #ffffff; padding: 25px;
}
.about-us img{
    width: 50%; float: left;
}
#top-text{
    font-family: 'Italianno', cursive; line-height: 2%;
}
.about-content h1{
    font-size: 35px;
}
.about-content p{
    font-size: 20px; padding: 15px;
}
.about-content button{
    padding: 10px 25px 10px 20px; border-radius: 35px; border-style: none; outline: none; cursor: pointer; font-weight: bold; text-align: center; background-color: transparent; border: 2px solid #3de813; text-transform: uppercase;
}
.about-content button:hover{
    color: #3de813; border: 2px solid #3de813;
}
.mid-sec{
    background-image: url(midsec.jpg); background-size: cover; height: 35vh; 
}
.mid-sec p{
    font-family: 'Oswald', sans-serif; font-size: 20px; padding: 100px 0px 0px 225px; line-height: 100%; 
}
.mid-sec p span{
    font-weight: bold; font-family: 'Italianno', cursive; font-size: 40px;
}
.mid-sec button{
    padding: 10px 25px 10px 20px; border-radius: 35px; border-style: none; outline: none; cursor: pointer; font-weight: bold; text-align: center; background-color: #3de813; text-transform: uppercase; float: right; color: #ffffff; font-family: 'Oswald', sans-serif; margin: -60px 200px 0px 0px;
}
.service h2{
    text-align: center; font-family: 'Oswald', sans-serif; font-size: 20px; line-height: 70%; padding: 20px 0px 50px 0px;
}
.service h2 span{
    font-size: 35px;
}
.tab1{
    margin-top: 150px; text-align: left; width: 75%; margin: 0 auto; 
}
.tab1 p{
    padding: 15px;
}
.tab2{
    width: 75%; display: table; margin: 0 auto; text-align: center; font-weight: bold; font-family: 'Italianno', cursive; font-size: 20px; 
}
.tab2 tr img{
    height: 250px; width: 300px; padding: 0px 0px 20px 0px;
}
.footer{
    height: 35vh; background-color: #3000DB; margin: 50px 0px 0px 0px;
}
.footer h3{
    font-weight: bold; font-size: 22px; display: inline; text-align: center; padding-bottom: 4px;
}
.footer a{
    text-decoration: none; color: #ffffff; font-family: 'Oswald', sans-serif; 
}
.footer ul li{
    line-height: 160%;
}
.f-ctc{
    padding: 50px 0px 0px 200px; line-height: 160%; color: #ffffff; font-family: 'Oswald', sans-serif;display: inline-block;
}
.f-cmp{
    color: #ffffff; font-family: 'Oswald', sans-serif; display: inline-block; padding: 50px 0px 0px 80px; line-height: 160%; margin-left: 20px;
}
.f-cmp ul li{
    margin-left: -38px;
}
.f-use{
    color: #ffffff; font-family: 'Oswald', sans-serif; display: inline-block; margin: 10px 0px 0px 150px;
}
.f-use h3{
    margin-top: 100px;
}
.f-use ul li{
    margin-left: -38px;
}
.f-sub{
    color: #ffffff; font-family: 'Oswald', sans-serif; display: inline-block; float: right; padding: 50px 200px 0px 0px;
}
.f-sub input{
    padding: 7px 15px 7px 15px; background-color: transparent; text-align: center; color: #ffffff; text-transform: uppercase;
}
.f-sub button{
    padding: 7px 15px 7px 15px; background-color: #ffffff; text-align: center; outline: none; text-transform: uppercase;
}
.btm-bar{
    background-color: #3000DB; color: #eeeeee; height: 60px; padding-left: 200px; padding-top: 15px; border-top: 2px solid #6b6565; margin-top: 5px;
}
