body {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.banner{
    background-image: url(banner.jpg); background-size: cover; height: 100vh; 
}
.top-bar{
    background-color: #3000DB; color: #eeeeee; height: 30px; padding-left: 200px;
}
.top-bar p{
    display: inline-block; margin-left: 25px; margin-top: 5px; font-family: 'Oswald', sans-serif;
}
 .top-bar a{
    display: inline; color: #ffffff; text-decoration: none; font-family: 'Oswald', sans-serif;
}
.nav{
    background-color: #ffffff; height: 10vh;
}
.logo img{
    height: 70px; width: 150px; float: left; margin-top: 2px; padding-left: 225px;
}
.nav ul{
    float: right; padding: 10px 200px 0px 0px; 
}
.nav ul li{
    display: inline-block; margin-right: 75px;
}
.nav ul li a{
    text-decoration: none; color: #111111; font-family: 'Oswald', sans-serif; font-size: 18px;
}
.nav ul li a:hover{
    border-bottom: 3px solid #3de813; 
}
.banner-text{
    font-size: 25px; padding: 250px 0px 0px 225px; font-family: 'Merriweather', serif;

}
.banner-text span{
    font-size: 100px; color: #ffffff; padding: 5px; font-weight: bold; font-family: 'Merriweather', serif;
}
.about-us{
    background-color: #ffffff; padding: 25px;
}
.about-us img{
    width: 50%; float: left;
}
#top-text{
    font-family: 'Italianno', cursive; line-height: 2%;
}
.about-content h1{
    font-size: 35px;
}
.about-content p{
    font-size: 20px; padding: 15px;
}
.about-content button{
    padding: 10px 25px 10px 20px; border-radius: 35px; border-style: none; outline: none; cursor: pointer; font-weight: bold; text-align: center; background-color: transparent; border: 2px solid #3de813; text-transform: uppercase;
}
.about-content button:hover{
    color: #3de813; border: 2px solid #3de813;
}
.mid-sec{
    background-image: url(midsec.jpg); 
}

}