body{
    margin: 0; padding: 0; 
}

/*1st banner section*/

.banner{
    background-image: url(banner.jpg); height: 110vh; background-size: cover;
}
.banner img{
    margin-left: -44px;
}
.banner ul{
     float: right; 
}
.banner ul li{
    display: inline-block; font-family: 'Poppins', sans-serif; font-size: 15px; padding: 15px 50px 0px 0px; font-weight: bold; text-transform: uppercase;
}
.banner ul li a{
    text-decoration: none; color: #ffffff;
}
.banner ul li a:hover{
    color: #57FEFF;
}
.banner ul li a:active{
    border-bottom: 2px solid #57FEFF; 
}
.text-banner{
    line-height: 500%; padding: 0px 0px 0px 100px; display: inline-block; vertical-align: top;
}
.banner h2{
    color: #ffffff; font-family: 'Poppins', sans-serif; font-size: 62px; text-transform: uppercase;
}
.banner h2 span{
    color: #57FEFF;
}
.banner p{
    color: #ffffff; font-family: 'Poppins', sans-serif; font-size: 18px; line-height: 120%; 
}
.banner button{
    background-color: #57FEFF; font-family: 'Poppins', sans-serif; text-transform: uppercase; text-align: center; color: #2C295E; border-style: none; border-radius: 6px; padding: 15px 45px 15px 45px; outline: none; cursor: pointer; margin: 30px 0px 0px 0px; font-size: 16px; font-weight: bold; text-transform: uppercase; 
} 
.banner button:hover{
    background-color: #ffffff; 
}
.banner button a{
    text-decoration: none; 
}
.banner video{
    display: inline-block; padding: 0px 0px 0px 112px; outline:none;
}

/* About Us */

.about-us{
    height: 90vh; margin: 0 auto;
}
.about-us h1{
    color: #ef916d; font-family: 'Poppins', sans-serif; font-size: 62px; font-weight: bold; line-height: 120%; padding: 50px 0px 0px 100px;
}
.about-us h1 span{
    color: #3a2f7e; 
}
.about-us p{
    font-family: 'Poppins', sans-serif; font-size: 18px; line-height: 120%; color: #676767; padding: 50px 0px 0px 100px;
}



/*
.card {
 Add shadows to create the "card" effect 
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}
On mouse-over, add a deeper shadow 
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
scale: (0,3);
}
*/