<body>
    <div class="container-fluid">
        <div class="container-fluid banner">
            <h1><span id="c-text"></span>Workers!</h1>
            <div class="sub-banner">
                <h3>Looking to get job done quickly <br /> &amp; hassle free?</h3>
                <h2 class="sub-t">Hire the <span>Experienced!</span></h2>
            </div>
            <div class="sub-banner-two">
                <h3>Planning to Learn from the <span>Experts?</span></h3>
                <h2>We got it all Covered!</h2>
                <button type="button" class="btn btn-dark">Learn More</button>
            </div>
        </div>
        <div class="container-fluid about">
            <div class="canvas-interactive-wrapper">
                <canvas id="canvas-interactive"></canvas>
                <div class="cta-wrapper">
                    <div class="row">
                        <div class="col-md-6 col-md-4 col-sm-2 about-left" >
                            <h1>Wasting hours stuck on a same problem? </h1>
                            <h1>Reach out to the people with proper expertise.</h1>
                            <h2>Hire experienced-Professionals!</h2>                            
                        </div>
                        <div class="col-md-6 col-md-4 col-sm-2 about-right">
                            <img class="img-one" src="about-one.jpg" alt="as-a-professional" />
                        </div>
                        <div class="col-md-6 col-md-4 col-sm-2 about-left-two">
                            <img class="img-two" src="about-two.jpg" alt="as-a-teacher" />
                        </div>
                        <div class="col-md-6 col-md-4 col-sm-2 about-right-two">
                            <h1>Learn skills that can help you grow</h1>
                            <h1>Learn from professional with lots of in-hand experience</h1>
                            <h2>We got the right candidate for you!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 features">
            {{!-- <canvas id="canvas-basic"></canvas> --}}
            <h1>The problem we want to solve.</h1>
            <div class="row">
                <div class="col-lg-6">
                    <div data-aos="fade-down-right">
                        <div class="card" style="width: 42rem;">
                            <div class="card-body">
                                <h3>Who is it for?</h3>
                                <p class="card-text">Our platform is primarily focused for everyone who are retired. We want to reach out to everyone who are retired but not done yet!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    <div data-aos="fade-down-left">
                        <div class="card" style="width: 42rem;">
                            <div class="card-body">
                                <h3>What we are doing?</h3>
                                <p class="card-text">Everyone of us want to get things done quickly &amp; efficiently. Getting things done quickly and correctly takes consistency and expertise.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                   <div data-aos="flip-left">
                        <div class="card" style="width: 42rem;">
                            <div class="card-body">
                                <h3><span>Why</span> are we doing it?</h3>
                                <p class="card-text">"Time does not fly" when it comes to retired people. Why sit idle when you can still get going?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    
                </div>
                <div class="col-lg-6">
                    <div data-aos="flip-right">
                        <div class="card" style="width: 42rem;">
                            <div class="card-body">
                                <h3>How will it help you?</h3>
                                <p class="card-text">Our platform is not only for professionals but also for students. Students can reach out to experienced personel to learn from experts. Years of experience can guide you and help you achieve things more easily and quickly.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <p class="footp">&copy; indianLeo</p>
    </div>
    
</body>


